%p
  Total:
  = @total

%table.unclassified
  %thead
    %tr
      %th Tweet
      %th Positive
      %th Negative
      %th Ignore
  %tbody
    - @tweets.each do |tweet|
      %tr
        %td
          = render :partial => 'shared/tweet', :locals => {:tweet => tweet}
          = link_to tweet.show.name, edit_admin_show_path(tweet.show_id), :class => 'show'
        %td= link_to "Positive", positive_admin_tweet_path(tweet.id)
        %td= link_to "Negative", negative_admin_tweet_path(tweet.id)
        %td= link_to "Ignore", ignore_admin_tweet_path(tweet.id)
