%table.unclassified
  %thead
    %tr
      %th Tweet
      %th Positive
      %th Negative
      %th Ignore
  %tbody
    - @docs.each do |doc|
      %tr
        %td
          = doc.text
          = link_to Show.find(doc.show_id).name, edit_admin_show_path(doc.show_id), :class => 'show'
        %td= link_to "Positive", positive_admin_tweet_path(doc._id)
        %td= link_to "Negative", negative_admin_tweet_path(doc._id)
        %td= link_to "Ignore", ignore_admin_tweet_path(doc._id)
