%p
  Total:
  = @total

%table.unclassified
  %thead
    %tr
      %th Tweet
      %th Classification
      %th Confirm
      %th Positive
      %th Negative
      %th Ignore
  %tbody
    - @tweets.each do |tweet|
      %tr
        %td
          = render :partial => 'shared/tweet', :locals => {:tweet => tweet}
          = link_to tweet.show.name, [:edit, :admin, tweet.show], :class => 'show'
        %td= tweet.classification
        %td= link_to "Confirm",  [:confirm,  :admin, tweet]
        %td= link_to "Positive", [:positive, :admin, tweet]
        %td= link_to "Negative", [:negative, :admin, tweet]
        %td= link_to "Ignore",   [:ignore,   :admin, tweet]
