%ul
  - @docs.each do |doc|
    %li
      %span.text= doc.text
      Marked as
      %strong= doc.classification
      = link_to "Confirm", confirm_admin_tweet_path(doc._id)
      = link_to "Flag as Positive", positive_admin_tweet_path(doc._id)
      = link_to "Flag as Negative", negative_admin_tweet_path(doc._id)
      = link_to "Ignore", ignore_admin_tweet_path(doc._id)
      %span.show= "(#{link_to Show.find(doc.show_id).name, edit_admin_show_path(doc.show_id)})"
