%td= link_to "@#{tweet.from_user}", "https://twitter.com/#{tweet.from_user}"
%td
  = auto_link tweet.linked_text
  = link_to '<i class="icon-zoom-in"></i>'.html_safe, "https://twitter.com/#{tweet.from_user}/status/#{tweet.tweet_id}", :target => '_blank'
%td #{time_ago_in_words tweet.created_at} ago
