- if tweets.empty? && defined?(the_show)
  .well
    %p There are no tweets logged for #{ the_show.heading }.
- elsif tweets.empty?
  .well
    %p There are no tweets logged at all. Don't expect to see much until the Festival's underway!
- else
  %ul#tweets
    - tweets.each do |tweet|
      %li.feature.tweet
        .tweet-box
          = image_tag tweet.profile_image_url, :alt => tweet.from_user
          .content
            %strong= tweet.from_user
            %span.handle= tweet.from_user
            %p= tweet.linked_text
            %time #{time_ago_in_words tweet.created_at} ago
