- if tweets.empty? && defined?(the_show)
  .well
    %p There are no tweets logged for #{ the_show.heading }.
- elsif tweets.empty?
  .well
    %p There are no tweets logged for this show.
- else
  %ul#tweets
    - tweets.each do |tweet|
      %li[tweet]
        .tweet-credit
          = image_tag tweet.profile_image_url, :alt => tweet.from_user
          %p.credit
            %strong @#{tweet.from_user}
            - if tweet.show
              on #{tweet.show.heading}
        .tweet-content
          %p.text= tweet.linked_text
          %p.time #{time_ago_in_words tweet.created_at} ago

