.page-header
  %h2 About LaughTrack

%p LaughTrack provides a window into the buzz on Twitter about the Melbourne International Comedy Festival - making it easy to see what shows people are raving about.

%h3 Tweets and Scores

%p The tweets collected are reviews of shows, by people who have gone to the shows (not general recommendations by friends, nor pre-show excitement). Retweets are ignored. LaughTrack monitors the #{ link_to '#micf', 'https://twitter.com/#!/search/%23micf' } hashtag - so if you want your reviews to appear here, make sure you include that in your tweet!

%p The scores for each show are calculated using a mathematical formula factoring in both the number of tweets about a show, and how many of those are positive. This means that a show with just a single tweet doesn't sit on top of the list.

%h3 The People Behind It

%p LaughTrack was created by #{ link_to 'Pat Allan', 'http://freelancing-gods.com' } - initially for the 2010 Festival - and has received much appreciated design and development support from some wonderfully talented friends: #{ link_to 'Ben Webster', 'http://www.plus2.com.au' }, #{ link_to 'Nathan Sampimon', 'http://inspire9.com.au' }, #{ link_to 'Andrew France', 'https://twitter.com/Odaeus' }, #{ link_to 'Dan Cheail', 'https://twitter.com/vowel_boy' }, #{ link_to 'Mark Brown', 'http://www.yellowshoe.com.au' } and #{ link_to 'Elle Meredith', 'http://designbyelle.com.au' }. The name was provided via the inspired mind of #{ link_to 'Andy Gelme', 'http://geekscape.org' }.

%p
  If you need to get in touch, just send a #{ link_to 'tweet', 'https://twitter.com/laughtrack_au' } or #{ link_to 'email', 'pat@freelancing-gods.com' } to Pat.

%h3 The Site

%p LaughTrack was inspired by a few similar websites built for the Edinburgh Fringe - in particular, #{ link_to 'EdTwinge', 'http://www.edtwinge.com' }.

%p LaughTrack has no commercial angle &mdash; we don't want your money &mdash; and so #{ link_to 'the code', 'https://github.com/freelancing-god/laughtrack/tree/2012' } is available online, for anyone to read and learn from, and perhaps contribute to, should you be so inclined.

%p All that said, all original content and code for LaughTrack is copyright &copy; 2010-2012 by Pat Allan and contributors where appropriate. The tweets displayed are property of their authors, and the show information is obtained from the Melbourne International Comedy Festival website.
