#shows
  .popular
    %h2= link_to 'Popular Shows', '/'
    .shows
      %ol
        - @popular.each do |show|
          %li= link_to_show show

  .quality
    %h2= link_to 'Quality Shows', '/'
    .shows
      %ol
        - @rated.each do |show|
          %li= link_to_show show

= link_to "View All Shows", shows_path