- content_for :feature do
  #feature
    .wrapper
      .feature
        .pad
          - if @tonight.empty?
            - if festival.finished?
              %h5 That's a Wrap
              %p The festival has finished for the year. You'll find us back here ready and raring to go in about 11 months.
            - elsif festival.started?
              %h5 Tonight's Hot Shows
              %p Oddly enough, there are no shows scheduled for tonight.
            - else
              %h5 Coming Soon
              %p The festival hasn't started yet - but when it does, there'll be plenty to see here!
          - else
            %h5 Tonight's Hot Shows
            %ul.tonight
              - @tonight.each do |show|
                %li
                  %h3=show.act_name
                  %h2=link_to show.name, show
                  - if show.performances.next_available
                    %span.happens_at= "Tonight" + show.performances.next_available.happens_at.to_formatted_s(:show_time)
                  %span.rated
                    = "Rated "+show.rating.to_s
                  %span.sold
                    = number_to_percentage show.sold_out_percent, :precision => 0
                    %span.suffix Sold Out
      .calendar
        .head
          = link_to "&raquo;".html_safe, {:params => {:date => @calendar_date.next_month.strftime("%Y-%m")}}, :title => @calendar_date.next_month.strftime('%B'), :class => "next_month"
          = link_to "&laquo;".html_safe, {:params => {:date => @calendar_date.prev_month.strftime("%Y-%m")}}, :title => @calendar_date.prev_month.strftime('%B'), :class => "previous_month"
          = @calendar_date.strftime('%B')
        = calendar :year => @calendar_date.year, :month => @calendar_date.month do |d|
          - if @performance_dates.keys.include?(d)
            - [ link_to( d.mday, performances_by_date_path(:year => @calendar_date.year, :month => @calendar_date.month, :date => d.mday), :id => d.strftime("%m-%d")), {:class => "has_performances"}]

#shows
  %p.intro
    LaughTrack tracks the buzz of the
    %a{:href => 'http://comedyfestival.com.au'} Melbourne International Comedy Festival.
    We keep an eye on what people are saying about shows on
    %a{:href => 'http://twitter.com'} Twitter
    and what tickets they're buying, to give you some idea of what people are enjoying at the festival.
  
  .quality
    %h2= link_to 'Quality Shows', quality_path, :title => "Show with positive reviews"
    
    .shows
      %ol
        = render :partial => 'shows/show', :collection => @rated, :locals => {:focus => [:quality]}
      = link_to "View All Quality Shows &rsaquo;".html_safe, quality_path
    
  .popular
    %h2= link_to 'Popular Shows', popular_path, :title => "Show that are selling fast"

    .shows
      %ol
        = render :partial => 'shows/show', :collection => @popular, :locals => {:focus => [:popularity]}
      = link_to "View All Popular Shows &rsaquo;".html_safe, popular_path

  .recent
    %h2{:title => "Show that are selling fast"}= 'Recent reviews'

    .shows
      %ol.twitter_stream
        = render :partial => 'shared/tweet', :collection => @recent_tweets

- content_for :footer do
  :javascript
    $('.calendar .head a, #shows h2 a, #shows h2').tipsy({gravity: 'n'});
/   - @performance_dates.each do |happens_at, performances|
/     :javascript
/       $('##{happens_at.strftime("%m-%d")}').tipsy({gravity: 'n', html: 'true', fallback: '#{performances.collect{|p| p.show.act_name}.uniq.join("<br>")}'});