%h2= show.headings

= semantic_form_for [:admin, show] do |form|
  = form.inputs do
    = form.input :act_name
    = form.input :url, :hint => show_url(show)
    = form.input :status, :as => :select, :collection => Show::Statuses
  = form.buttons do
    = form.commit_button 'Save'

%h3 Twitter Keywords

%ul
  - show.keywords.each do |keyword|
    %li
      =h keyword.words
      = link_to "Delete", [:delete, :admin, show, keyword]

= semantic_form_for [:admin, show, show.keywords.build] do |form|
  = form.inputs do
    = form.input :words, :label => 'Keyword'
  = form.buttons do
    = form.commit_button 'Add Keyword'

%h3 Latest Unconfirmed Tweets

%table
  %thead
    %tr
      %th Tweet
      %th Current
      %th Positive
      %th Negative
      %th Ignore
  %tbody
    - show.tweets.unconfirmed.each do |tweet|
      %tr
        %td= render :partial => 'shared/tweet', :locals => {:tweet => tweet}
        %td= tweet.classification
        %td= link_to "Positive", positive_admin_tweet_path(tweet.id)
        %td= link_to "Negative", negative_admin_tweet_path(tweet.id)
        %td= link_to "Ignore", ignore_admin_tweet_path(tweet.id)

= link_to "Clear All Tweets", clear_tweets_admin_show_path(show)

%h3 Import a Tweet

= form_tag import_tweets_admin_show_path(show), :method => :post do
  %label{:for => 'url'} URL
  = text_field_tag :url, params[:url]
  %input{:type => 'submit', :value => 'Import'}

%h3= pluralize show.performances.length, 'Performance'

%table
  %thead
    %tr
      %th Date
      %th Time
      %th Sold Out
      %th
  %tbody
    - show.performances.each do |performance|
      %tr
        %td= performance.happens_at.strftime('%a %B %d')
        %td= performance.happens_at.strftime('%H:%M')
        %td
          = performance.sold_out? ? 'Yes' : 'No'
          = performance_sold_out_link performance
        %td= link_to "Delete", [:delete, :admin, show, performance]

%h3 Add a Performance

= semantic_form_for [:admin, show, show.performances.build] do |form|
  = form.inputs do
    = form.input :happens_at
  = form.buttons do
    = form.commit_button 'Add Performance'

= link_to 'All Shows', admin_shows_path
