%h2= @show.name

- semantic_form_for [:admin, @show] do |form|
  - form.inputs do
    = form.input :name, :label => 'Show Name'
    = form.input :act_name
    = form.input :url
  - form.buttons do
    = form.commit_button 'Save'

%h3 Twitter Keywords

%ul
  - @show.keywords.each do |keyword|
    %li
      =h keyword.words
      = link_to "Delete", destroy_admin_show_keyword_path(@show, keyword)

- semantic_form_for [:admin, @show, @show.keywords.build] do |form|
  - form.inputs do
    = form.input :words, :label => 'Keyword'
  - form.buttons do
    = form.commit_button 'Add Keyword'

%h3 Latest Tweets

%table
  %thead
    %tr
      %th Tweet
      %th Current
      %th Positive
      %th Negative
      %th Ignore
  %tbody
    - @show.unconfirmed_tweets.each do |tweet|
      %tr
        %td= render :partial => 'shared/tweet', :locals => {:tweet => tweet}
        %td= tweet.classification
        %td= link_to "Positive", positive_admin_tweet_path(tweet._id)
        %td= link_to "Negative", negative_admin_tweet_path(tweet._id)
        %td= link_to "Ignore", ignore_admin_tweet_path(tweet._id)

= link_to "Clear All Tweets", clear_tweets_admin_show_path(@show)

%h3= pluralize @show.performances.length, 'Performance'

%ol
  - @show.performances.each do |performance|
    %li
      = performance.happens_at.to_s
      = performance_sold_out_link performance

- semantic_form_for [:admin, @show, @show.performances.build] do |form|
  - form.inputs do
    = form.input :happens_at
  - form.buttons do
    = form.commit_button 'Add Performance'

= link_to 'All Shows', admin_shows_path
