= form_tag '', :method => :get do
  %label{:for => 'query'} Search
  = text_field_tag 'query', params[:query]
  %input{:type => 'submit', :value => 'Search'}

%table
  %thead
    %tr
      %th= link_to 'Show', order_params('headings')
      %th= link_to 'Sold Out', order_params('sold_out_percent')
      %th= link_to 'Rating', order_params('rating')
      %th= link_to 'Tweets', order_params('unconfirmed_tweet_count')
      %th= link_to 'Starts', order_params('first_performance')
      %th= link_to 'Finishes', order_params('last_performance')
  %tbody
    - shows.each do |show|
      %tr
        %td{show_attributes(show)}= link_to show.headings, [:edit, :admin, show]
        %td= number_to_percentage show.sold_out_percent, :precision => 0
        %td= number_with_precision show.rating, :precision => 2
        %td
          = "(#{show.confirmed_tweet_count || 0})"
          = show.tweet_count || 0
        %td= Time.at(show.sphinx_attributes['first_performance']).strftime('%B %d')
        %td= Time.at(show.sphinx_attributes['last_performance']).strftime('%B %d')

= will_paginate shows
