= form_tag '', :method => :get do
  %label{:for => 'query'} Search
  = text_field_tag 'query', params[:query]
  %input{:type => 'submit', :value => 'Search'}

%table
  %thead
    %tr
      %th= link_to 'Show', order_params('headings')
      %th= link_to 'Sold Out', order_params('sold_out_percent')
      %th= link_to 'Rating', order_params('rating')
      %th= link_to 'Tweets', order_params('unconfirmed_tweet_count')
      %th= link_to 'Feature', order_params('featured')
  %tbody
    - shows.each do |show|
      %tr
        %td{show_attributes(show)}= link_to show.headings, [:edit, :admin, show]
        %td= number_to_percentage show.sold_out_percent, :precision => 0
        %td= number_with_precision show.rating, :precision => 2
        %td
          = "(#{show.confirmed_tweet_count})"
          = show.tweet_count
        %td
          - if show.featured
            = link_to 'Unfeature', unfeature_admin_show_path(show)
          - else
            = link_to 'Feature', feature_admin_show_path(show)

= will_paginate shows
