- form_tag '', :method => :get do
  %label{:for => 'query'} Search
  = text_field_tag 'query', params[:query]
  %input{:type => 'submit', :value => 'Search'}

%table
  %thead
    %tr
      %th Show
      %th Act
  %tbody
    - @shows.each do |show|
      %tr
        %td{show_attributes(show)}= link_to show.name, [:edit, :admin, show]
        %td= act_name show.act
        %td
          - if show.featured
            = link_to 'Unfeature', unfeature_admin_show_path(show)
          - else
            = link_to 'Feature', feature_admin_show_path(show)

= will_paginate @shows
