- content_for :breadcrumbs do
  %ol
    %li= link_to 'Home', '/'

%h2 All Shows

.search
  - form_tag '', :method => :get, :class => 'search' do
    %label{:for => 'query'}
    = text_field_tag 'query', params[:query], :autocomplete => "off"
    %input{:type => 'submit', :value => 'Search', :class => 'submit'}

%table
  %thead
    %tr
      = sorted_header 'Act', 'act', true
      = sorted_header 'Show', 'name'
      = sorted_header 'Sold Out', 'sold_out_percent'
      = sorted_header 'Rating', 'rating'
  %tbody
    - @shows.each do |show|
      %tr
        %td= act_name show.act
        %td= link_to_show show
        %td= number_to_percentage show.sold_out_percent, :precision => 0
        %td= number_with_precision show.rating, :precision => 2

= will_paginate @shows
