- content_for :breadcrumbs do
  %ol
    %li= link_to 'Home', '/'
    %li= link_to 'All Shows', shows_path
- content_for :footer do
  :javascript
    loadTweets(#{@show.id});

#show
  .show_info
    .shows
      - if @show.act
        %h3= @show.act.name
      %h2= @show.name
      - if @show.act&&@show.act.performers.length>1&&@show.act.performers.first.name!=@show.act.name
        = "featuring "
        = @show.act.performers.collect{|p| p.country=="Australia"||"" ? p.name : "#{p.name}(#{p.country})" }.join(", ")

      .tickets
        .sold{:style => "width: 80%"}
        %span= "#{@show.sold_out_percent.to_i}% Sold Out"

      %table.performances
        - @show.performances.each do |performance|
          %tr
            %td= performance.happens_at.to_formatted_s(:show_date)
            %td= performance.happens_at.to_formatted_s(:show_time)
            %td= performance.sold_out ? "Sold Out" : "Tickets Available"
            %td= link_to "show info and tickets", @show.url

      - if @related.present?
        %h3 Shows by the same acts and performers
        %ul.related
          - @related.each do |show|
            %li= link_to_show show

  .reviews
    / %h2="Reviews"
    .shows
      / %h3 Tweets

      %ol#show_tweets.twitter_stream
        / - @show.tweets.each do |tweet|
        /   %li
        /     = render :partial => 'shared/tweet', :locals => {:tweet => tweet}