- content_for :breadcrumbs do
  %ol
    %li= link_to 'Home', '/'
    %li= link_to 'All Shows', shows_path
    
#feature
  .feature
    .pad
      %h2= @show.name
      - if @show.act
        %h3= @show.act.name
      
      .tickets
        .sold{:style => "width: 80%"}
        %span= "#{@show.sold_out_percent.to_i}% Sold Out"

      - if @related.present?
        %h3 Shows by the same acts and performers
        %ul.related
          - @related.each do |show|
            %li= link_to_show show
      
      = link_to "The Official Details", @show.url
      
      %h3 Tweets

      %ol
        - @show.tweets.each do |tweet|
          %li
            = render :partial => 'shared/tweet', :locals => {:tweet => tweet}
