- content_for :breadcrumbs do
  %ol
    %li= link_to 'Home', '/'

%h2 Performances for #{@date.strftime("%B %d")}

%table
  %thead
    %tr
      = sorted_header 'Act', 'act'
      = sorted_header 'Show', 'show'
      = sorted_header 'Time', 'time', true
      = sorted_header 'Sold Out', 'sold_out'
      = sorted_header 'Rating', 'rating'
  %tbody
    - @performances.each do |performance|
      %tr
        %td= link_to act_name(performance.show.act), performance.show
        %td= link_to_show performance.show
        %td= performance.happens_at.to_formatted_s(:show_time)
        %td= number_to_percentage performance.show.sold_out_percent, :precision => 0
        %td= number_with_precision performance.show.rating, :precision => 2

= will_paginate @performances
