!!!
%html
  %head
    %title LaughTrack
    = stylesheet_link_tag 'reset', 'formtastic', 'layout', 'formtastic_changes'
  %body
    #header
      .wrapper
        %h1= link_to 'LaughTrack', '/'
        %ul
          %li#popular= link_to 'Popular Shows', popular_path
          %li#quality= link_to 'Quality Shows', quality_path
          %li#about= link_to 'About Us', '/about'
    #breadcrumbs
      .wrapper
        %ol
          %li= link_to 'Home', '/'
          %li= link_to 'Other link', '/'
        
        - form_tag '/shows', :method => :get, :class => 'search' do
          %label{:for => 'query'} Search Shows
          = text_field_tag 'query', params[:query]
          %input{:type => 'submit', :value => 'Search', :class => 'submit'}

    = yield :feature
    
    #content
      .wrapper
        - flash.each do |key, message|
          %p{:class => key.to_s}= message
        
        = yield
    #footer
      .wrapper
        Copyright &copy;
        = link_to "LaughTrack", "/"
        = "/"
        = link_to "Pat Allan", "http://freelancing-gods.com"
        2010
