!!! 5
%html
  %head
    %title LaughTrack
    = stylesheet_link_tag 'reset', 'placeholder'
    = stylesheet_link_tag 'formtastic', 'formtastic_changes'
  %body
    #window
      %h1= link_to 'LaughTrack', '/'
      - flash.each do |key, message|
        %p{:class => key.to_s}= message
      = yield
