<!DOCTYPE html>
<html>
<head>
  <title>LaughTrack</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="home">
<header>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <form class="navbar-search" action="/" method="get">
        <input class="search-query" type="search" placeholder="Search for a show" name="query" value="<%= params[:query] %>">
      </form>
      <ul class="nav pull-right">
        <li><a href="#">About</a></li>
        <% if user_signed_in? %>
          <li><%= link_to 'Dashboard', [:manage, :dashboard] %>
          <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to 'Sign In', '/users/auth/twitter' %></li>
        <% end %>
      </ul>
      <%= link_to 'LaughTrack', root_path, :class => 'brand' %>
    </div>
  </div>
</header>
<div id="content">
  <% if notice.present? %>
    <div class="alert alert-success">
      <a class="close" data-dismiss="alert">×</a>
      <%= notice %>
    </div>
  <% end %>

  <% if alert.present? %>
    <div class="alert alert-error">
      <a class="close" data-dismiss="alert">×</a>
      <%= alert %>
    </div>
  <% end %>

  <div id="main-content">
    <%= yield %>
  </div>
</div>
<section id="shows" class="container">
  <%= yield :list %>
</section>

</body>
</html>
