<!DOCTYPE html>
<html lang="en">
<head>
  <title>LaughTrack</title>
  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= csrf_meta_tags %>
</head>
<body class="manage">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to 'LaughTrack', [:manage, :dashboard], :class => 'brand' %>

        <ul class="nav">
          <li><%= link_to 'Shows', [:manage, :shows] %></li>
          <li><%= link_to 'Tweets', [:manage, :tweets] %></li>
          <li><a href="#">Users</a></li>
        </ul>

        <ul class="nav pull-right">
          <li><%= link_to 'Sign Out', destroy_user_session_path %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="span12">
      <% if notice.present? %>
        <div class="alert alert-success">
          <a class="close" data-dismiss="alert">×</a>
          <%= notice %>
        </div>
      <% end %>

      <% if alert.present? %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <h4 class="alert-heading">Hold Up!</h4>
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
